<nav class="navigation glow">
    <a href="/">~/</a>
    <a href="/blog/">~/blog</a>
    <a href="/projects/">~/projects</a>
    <a href="/bookmarks/">~/bookmarks</a>
</nav>
<style is:global>
    .navigation {
        font-family: LibreBaskerville;
        font-size: 1.1rem;
        display:flex;
        justify-content: space-evenly;
        padding-bottom: 5px;
        width: var(--maxwidth);
    }
    .navigation a {
        color: white;
        text-decoration: none;
    }
    .navigation a:visited{
        color: white;
        text-decoration: none;
    }
    .navigation a:hover {
        color: white;
        text-decoration: underline;
    }
    .navigation a:active{
        color: white;
        text-decoration: underline;
    }
</style>